@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,400&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width:100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: plum; 
}

.navbar .logo a{
        
color: plum;
font-size: 35px;
font-weight: 600;

}

.navbar .logo a span{
    color:rgb(218, 90, 218);
}

.navbar.sticky .logo a{
    color: white;
}

.navbar.sticky .logo a span{
    color:white
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
color:plum;
font-size: 18px;
font-weight: 500;
margin-left: 25px;
transition: color 0.3 ease;
}

.navbar .menu li a:hover{
    color:rgb(218, 90, 218);
    

}

/* all similar content styling code */

/* about section */
section{
padding: 100px 0;
}

.about, .services, footer, .contact{
    font-family: 'Poppins',sans-serif;
}
.about .title{
    position: relative;
    text-align: center ;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
    color: plum;
}
.about .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width:180px;
    height:3px;
    background:plum;
    transform: translateX(-50%);
}

.about .title::after{
    content:"who I am";
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: rgb(218, 90, 218);
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}
.about .about-content{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 500px;
    width: 500px ;
    /* object-fit: cover; */
    border-radius: 30px;
}

.about .about-content .right{
    width: 55%;
     
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
color:rgb(218, 90, 218);
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: plum;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border:2px solid plum;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color:plum;
    background: none;
    font-weight: 500;
}

/* service section */

.services{
    background: #111;
    color: #fff;
    
}

.services .title{
    position: relative;
    text-align: center ;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
    color: plum;
}

.services .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width:180px;
    height:3px;
    background:plum;
    transform: translateX(-50%);
}

.services .title::after{
    content:"what I have made";
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: rgb(218, 90, 218);
    padding: 5px;
    background:#111;
    transform: translateX(-50%);
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }

    .services .serv-content .card{
        width:calc(33% - 20px);
        background: #222;
        text-align: center;
        border-radius: 6px;
        padding: 20px 25px;
        cursor: pointer;
        transition: all 0.3s ease ;
    }
 
    .services .serv-content .card i{
        font-size: 50xp;
        color: plum;

    }
    
    .services .serv-content .card:hover{
       background: plum;
       color: black;
    }

    .services .serv-content .card .box{
        transition: all 0.3s ease ;
    }

    .services .serv-content .card:hover .box{
        transform: scale(1.05);


    }

    .services .serv-content .card .box img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .services .serv-content .card .text{
        font-size:25px ;
    }

/* menu btn styling */
.menu-btn{
    /* color:rgb(248, 236, 236); */
    color:"#F8ECEC";
    font-size: 23px;
    cursor:pointer;
    display: none;

}


.navbar.sticky .menu li a{

color:white
}


/* home section */

.home{
    display: flex;
    background: url("iamge.png") no-repeat right;
    height: 100vh;
    color:plum ;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
 margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 24px;
}

.home .home-content .text-2{
    font-size: 55px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
color: rgb(218, 90, 218);
font-weight: 500;
}

/* contact section starts */


.contact .title::after{
   content: "get in touch";
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }


.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{ 
    font-size: 100px;
 }

.contact .contact-content .left p{
    text-align: justify;
}

/* footer section starts */
footer{
     background: #111;
     padding: 20px 23px ;
     color: #fff;
}

footer span a{
color: plum;
text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
        
    }
    .navbar .menu{
        position:fixed; 
        height: 100vh;
        width: 100%;
        left:0;
        top:0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0;
    }

    .navbar .menu.active{
        left:0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin:20px 0;
        font-size: 25px;
    }
}
